body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boardContainer{
    display: grid;
    gap: 5px;
    border: solid 1px gray;
    background-color: blueviolet;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
}

.playersContainer{
    display: grid;
    margin: 50px;
    grid-template-columns: 70px 70px;
    grid-template-rows: 30px 20px 30px;
    gap: 10px;
}

.nameQuestion{
    grid-column: 1 / 3 ;
    text-align: center;
}

.nameRegister{
    grid-column: 1 / 3;
}

.boardSpace{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}